@page
@model CTEACore.Pages.AboutCTEAModel
@{
    ViewData["Title"] = "About CTEA";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col intro about-ctea">
                <h1>About CTEA</h1>
                <p>
                 Over the last 20 years, the special education system has become increasingly difficult to understand and maneuver through for parents. Families need expert and informed support in order to ask the right questions and advocate for their children with special learning needs.  CT Education Advocacy, LLC, founded August 2016, was created in order to facilitate the process for parents to better support their children. </p>
                <p>
Knowledge is power, and Jill Chuckas, MSW, Special Education Advocate, and her team will work with families to advocate and better understand what can be done to support their child's unique learning needs. From first diagnosis of eligibility for special education services, through development of an individualized education program (IEP) or 504 accommodation plan, to ongoing follow-through to ensure the IEP is being implemented, your CTEA team member will be there every step of the way, to help determine next steps from where ever the family is in the special education process.</p>
                <p>
Our advocates are seen as a collaborative and dedicated member sof the team and works hard to have a strong, positive outcome for each child.  We support parents of children diagnosed with various special learning needs including: autism spectrum disorders; specific learning disabilities including dyslexia, executive functioning struggles, speech and language, and developmental disabilities; ADD/ADHD; and emotional challenges such as school phobia and anxiety; to work with their school districts to ensure that appropriate educational and support services are in place to meet their particular special needs.</p>
                <p>
CTEA has delivered presentations to groups throughout Fairfield County on various topics surrounding special education and has been asked by school district groups to share feedback and concern regarding their districts special education programs. Professional development occurs regularly as Jill understands that to actively serve the families she works with, she must remain current with changes in special education law, practice and service delivery.  
                </p>
            </div>
            <div class="col photo">
                <img src="~/images/aboutctea.webp" />
            </div>
        </div>
    </div>
</div>