@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col intro">
                <img src="~/images/pic with hannah_edited.webp" />
                <p>
                    <strong>Jill K Chuckas, M.S.W.</strong>
                    <br />
                    <i>Director, Special Education Advocate</i>
                </p>
                <p>
                Parenting is tough.  Children don't come with a manual and everyday brings with it a new challenge to work through.  When your child has special learning needs, there is a whole other host of hurdles to climb through.  One of the most frustrating things that we, as parents encounter, is when our child is struggling, needs help, and we don't understand the language of those speaking with us in order to get that help. The education system is an incredibly intricate and confusing system to decipher. Families often don't know the right question to ask or the types of supports that are available to their child to assist with their learning challenges. They leave meetings feeling overwhelmed, discouraged and with a loss of trust and faith. Jill's philosophy and methodology is to work with families - not just to advocate for what the child needs - but to empower parent's to have the knowledge to better support their child.
                </p>
            </div>
            <div class="col photo-gallery">
                <img src="~/images/c1.jpg" />
                <img src="~/images/c3.jpg" />
                <img src="~/images/c4.jpg" />
                <img src="~/images/c5.jpg" />
            </div>
        </div>
    </div>
</div>
