@page
@model CTEACore.Pages.ServicesModel
@{
     ViewData["Title"] = "Services";
}

<div class="text-center">
    <h1 class="display-4">Services</h1>
</div>
<div class="container">
@*    <div class="row">
        <img src="~/images/iep.jpg" class="top-img" />
    </div>*@
    <div class="row">
        <p>
            <img src="~/images/iep.jpg" class="top-img" />
            The special education system has become increasingly difficult to understand and maneuver through for parents. Knowledge is power, and Jill will work with you to advocate and better understand what can be done to support your child's unique learning needs. From first diagnosis of eligibility for special education services, through development of an individualized education program (IEP) or 504 accommodation plan, and to ongoing follow-through to ensure the IEP is being implemented, Jill will be with you every step of the way, to help determine next steps from where ever you are in the special education process.
        </p>
</div>
<div class="row">
        <div class="col-left">
            <p>CTEA provides a full range of advocacy services including:</p>
            <ul>
                <li>Comprehensive Educational Record Review</li>
                <li>Analysis & Assessments of:
                    <ul class="dashed">
                        <li>Individualized Education Plans (IEP)</li>
                        <li>Individualized Family Service Plans (IFSP) (B23);</li>
                        <li>Section 504 Plans</li>
                    </ul>
                </li>
                <li>IEP Development; especially Measurable Goals and Objectives</li>
                <li>Development of Strategy/Action Plans</li>
                <li>Parent Coaching</li>
                <li>Assistance Drafting School Communications / Agendas, etc.</li>
                <li>Direct Advocacy at Planning and Placement Team/504 Meetings</li>
                <li>Consultations with Treating Professionals</li>
                <li>Direct Negotiation with School Districts</li>
                <li>Due Process Mediations</li>
                <li>Private Special Education School Placement Consulting</li>
                <li>Referrals for Diagnostic/Treatment Services</li>
            </ul>
        </div>
        <div class="col-right">
            <img src="~/images/green-board.jpg" />
            <img src="~/images/dizzy.png" />
            <img src="~/images/connect.png" />
        </div>
    </div>
</div>
