@page
@model CTEACore.Pages.TeamModel
@{
    ViewData["Title"] = "Our Team";
}
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col intro">
                <img src="~/images/pic with hannah_edited.webp" />
                <p>
                    <strong>Jill K Chuckas, M.S.W.</strong>
                    <br />
                    <i>Director, Special Education Advocate</i>
                </p>
                <p>
                    Ms. Chuckas has more than 25 years' experience advocating for children. In her various positions, she has been intricately involved in the special education process - leading PPT meetings, implementing and writing IEPs, coordinating services for children and families, facilitating conflict management, and supporting teachers and families to provide corrective, social emotional learning environments for children. It has always been important to Jill to be meticulous, detailed and organized in her process to review, discuss and support her families in every role that she holds. She is seen as a collaborative and dedicated member of the team and works hard to have a strong, positive outcome for each child.
                </p>
                <p>
Jill graduated from Syracuse University with a Bachelors in Science in Psychology and Children and Families Studies in May of 1991 and from New York University with a Masters in Social Work in May of 1995.  Throughout her many years working with children and families, she has held positions in public social service agencies, 10 years as a school social worker, an educational surrogate parent for the State Department of Education supporting children in DCF care and as a special education advocate.   On a broader advocacy platform, Jill has experience advocating for small business owners at the federal level as a founding member of a non-profit alliance of small business owners, lobbying on Capitol Hill in Washington DC, working with a regulatory agency, testifying before the U.S. Senate and collaborating on a legislative amendment.
                </p>
                <p>
                    She is a proud parent to 3 children - Alexander, Nicholas and Hannah.  All wonderful and promising in their own ways.  She is the daughter of 2 teachers - her father taught 5th and 6th grade for 38 years, and her mother was a special education teacher for over 20 years.  And, both of her grandmothers were teachers - one a kindergarten teacher, and one who taught everything from the little red school house to adults with developmental disabilities. To say that advocacy for children and families is in her blood is an understatement.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col intro">
                <img src="~/images/vblum.png" />
                <p>
                    <strong>Virginia Blum</strong>
                </p>
                <p>
                    Virginia is excited to join CT Education Advocacy, LLC as a Special Education Advocate after having completed the SEAT 2.0 training course sponsored by the Council of Parents, Advocates, and Attorneys (COPAA) in 2017-2018.  SEAT 2.0 is the only nationally developed and recognized year-long special education advocacy training course, and it provides participants with training to become special education advocates via a live virtual classroom, complemented by self-paced web learning, readings, and group and individual assignments.   As a final requirement for the course, participants must accumulate at least 40 hours of practical experience working with an established advocate, which Virginia completed under Jill Chuckas in the Fall of 2018.  For Virginia’s training, this included sitting side by side with Jill at various PPT meetings, initial consultations, PPT prep meetings and culminating in working with a family pro bono, under Jill’s direct supervision, from initial consult, through record review, attendance at PPT and IEP review after the meeting.  The family was so happy with Virginia’s dedication and expertise that they immediately signed on as Virginia’s first official advocacy case with CTEA!
                </p>
                <p>
                Virginia’s desire to work as an advocate arose from her experiences with having to navigate the special education process for her own daughter, who was diagnosed with an autism spectrum disorder in 2005, at age three.  By attending countless PPT meetings and actively advocating as a parent, Virginia gained the skills and experience needed to understand the special education process and qualify for her SEAT 2.0 training.   She also developed the empathy needed to truly connect with families and support their complex needs when they are attempting to navigate the complicated educational system for their own child.
                </p>
                <p>
                Virginia received her Bachelor of Science in Commerce from the McIntire School of Commerce at the University of Virginia in 1995, working for several years as a Certified Public Accountant prior to the birth of her two daughters.  She is a member of COPAA.  Virginia also serves as the Volunteer Coordinator for Abilis, a non-profit organization that provides services and support for special needs individuals in lower Fairfield County.
                </p>
            </div>
        </div>
    </div>
</div>