@page
@model CTEACore.Pages.TestimonialsModel
@{
     ViewData["Title"] = "Testimonials";
}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(16, 133, 154)" /></svg>

            <div class="container">
                @*<div class="carousel-caption text-start">*@
                <div class="carousel-caption text-start">
                    <p>"Jill Chuckas is the force of nature my husband and I needed to help us procure services for our son.  We had started with a different advocate, but because she didn't have an educational background, she didn't know the right things to ask for.  Jill is extremely skilled and knowledgeable as well as a pleasure to work with.  She is the perfect combination of forceful yet diplomatic.  We are so happy we found her!!"</p>
                    <p>GK - Trumbull</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(16, 133, 154)" /></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <p>"After struggling to get our school district to acknowledge my daughter’s learning disabilities and provide appropriate services on my own I was given Jill Chuckas’s name by a tutor we previously worked with.  Not until I worked with Jill did I realize how much I didn’t know about the process and my rights.  Jill opened up doors for my daughter by knowing exactly the right questions to ask and specifically how to ask the questions.  Jill speaks the same language as teachers and school districts and can translate my daughter’s needs and requests in a way that the district can not ignore.  Jill was monumental in getting the district to provide the services specific to my daughter’s needs and putting my daughter on a path to success and quick results. I never could have accomplished that myself.  I feel extremely lucky to have Jill on my side advocating for my daughter."</p>
                    <p>RB, Easton, CT</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(16, 133, 154)" /></svg>

            <div class="container">
                @*<div class="carousel-caption text-end">*@
                <div class="carousel-caption text-start">
                    <p>"Dear Jill, We cannot thank you enough for all you’ve done for our children and their education in the years you’ve been working with us.  Not only have you helped us to make certain that their IEPs are appropriate and complete, but you also continue to bring to the table tools and strategies that their teams can use in implementing their goals/objectives.  You’ve taught us so much and as a result, we have a better understanding of the special education system.  This knowledge helps us, with you and your support, to better advocate for our children. It was so important to us that we find an advocate who would work with us and still maintain the professional and respectful relationships we have with our children’s teams.  We found that person in you!  A number of team members have shared their appreciation of your talents and demeanor after they’ve sat in a meeting with us.  “I thought Jill was very impressive.” and “Your advocate was awesome and an absolute pleasure to work with.” are just two direct quotes from school staff. We hope that you realize what a positive difference you’ve made in our lives.  We look forward to working with you for many years to come as our children continue to grow and thrive.  Please know that not only are you a member of our teams, but we also consider you a part of our family.  We are so fortunate to have you on our side!</p>
                    <p>K and PC - Fairfield, CT</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>